@keyframes bound {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(20%);
  }
  100% {
    transform: translateY(0);
  }
}


.main_page {
  display: inline;
}

.section {
  width: 100%;
  height: 100vh;
  position: relative;
}

// main section

.main_section {
  //background: lightblue;

  .background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #3e6191;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

    h2 {
      font-size: 54px;
      font-weight: bold;
      line-height: 60px;
    }

    p {
      margin-top: 14px;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 5px;
      position: relative;

      &::before, &::after {
        content: "";
        display: block;
        width: 74px;
        height: 2px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 0), #fff 47%, hsla(0, 0%, 100%, 0));
      }

      &::before {
        left: -100px;
      }

      &::after {
        right: -100px;
      }
    }

    .arrow_block {
      position: absolute;
      bottom: 20px;
      left: 50%;
      transform: translateX(-50%);

      .arrow_btn {
        width: 40px;
        height: 40px;
        background: transparent;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .04);
        color: white;


        animation: bound 1s infinite;

        .arrow_down_svg_icon {
          width: 18px;
          height: 18px;
          fill: white;
        }
      }
    }

    .bottom_info {
      font-size: 12px;
      color: white;
      position: absolute;
      bottom: 30px;
      left: 30px;
    }
  }
}

// history section

.history_section {
  .title {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #1f2329;
    width: 100%;

    h2 {
      height: 40px;
      width: 100%;
      text-align: center;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
      }

      span.title_bg {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 8px;
        opacity: 0.2;
      }
    }

    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.5;
      color: #646a73;
      text-align: center;
    }
  }

  .section_content {
    display: flex;
    padding-top: 150px;
    box-sizing: border-box;
    height: 90%;

    .left_block {
      flex: 2;
      box-sizing: border-box;
      color: #1f2329;
      line-height: 1.5;
      font-size: 14px;
      padding: 100px 0 0 100px;

      p {
        margin-bottom: 5px;
        text-indent: 20px;
      }
    }

    .right_block {
      position: relative;
      flex: 3;

      .image_wrapper {
        width: 90%;
        height: 100%;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-right: 50px;

        img {
          height: 50%;
          width: 70%;
          float: right;
          box-shadow: 0 0 10px rgba(0, 0, 0, .05);
          margin-bottom: 20px;
          border-radius: 5px;
        }
      }
    }
  }


}

// research section
.research_section {
  height: 120vh;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    background: #f8f9fa;
    z-index: -1;
  }

  .title {
    margin: 20px 100px 20px 100px;
    position: relative;
    left: 0;
    color: #1f2329;

    h2 {
      height: 40px;

      span {
        position: absolute;
        left: 0;
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
      }

      span.title_bg {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 8px;
        opacity: 0.2;
      }
    }

    p {
      margin-top: 20px;
      font-size: 14px;
      color: #646a73;

    }
  }

  .section_content {
    color: #1f2329;

    .section_one {
      height: 50%;
      box-sizing: border-box;
      padding-left: 100px;
      display: flex;

      .section_one_content {
        flex: 1;

        .section_one_title {
          margin-top: 20px;

          h3 {
            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background: #dee0e3;
              margin-top: 40px;
            }

            width: 200%;
            font-size: 30px;
            line-height: 1.5;

          }
        }

        .section_one_text {
          margin-top: 20px;

          p {
            font-size: 16px;
            color: #646a73;
            line-height: 2;
          }
        }
      }

      .section_one_image_block {
        flex: 2;

        .section_one_image_wrapper {
          margin: 150px 100px 0 0;
          float: right;
          width: 60%;
          height: 60%;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, .05);
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

    }

    .section_two {
      height: 50%;
      display: flex;
      padding-left: 100px;
      box-sizing: border-box;
      margin-top: 50px;

      .section_two_image_block {
        flex: 2;

        .section_two_image_wrapper {
          margin: 0 100px 0 0;
          display: inline-block;
          height: 80%;
          width: 70%;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0, 0, 0, .05);
          overflow: hidden;
          transform: translateY(-70px);

          img {
            width: 100%;
            height: 100%;
          }
        }
      }

      .section_two_content {
        flex: 1;
        padding-right: 100px;

        .section_two_title {
          h3 {
            &::after {
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background: #dee0e3;
              margin-top: 40px;
            }

            font-size: 30px;
            line-height: 1.5;
          }
        }

        .section_two_text {
          margin-top: 20px;

          p {
            font-size: 16px;
            color: #646a73;
            line-height: 2;
          }
        }
      }


    }
  }

}

// cultivate_section
.cultivate_section {
  &::before {
    content: '';
    width: 70%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: #f8f9fa;
    z-index: -1;

  }

  .title {
    margin: 20px 100px 20px 100px;
    position: relative;
    left: 0;
    color: #1f2329;

    h2 {
      height: 40px;

      span {
        position: absolute;
        left: 0;
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
      }

      span.title_bg {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 8px;
        opacity: 0.2;
      }
    }

    p {
      margin-top: 20px;
      font-size: 14px;
      color: #646a73;
      line-height: 2;

    }
  }

  .content {
    display: flex;
    height: 70%;

    .section_image {
      margin-top: 100px;
      flex: 2;
      height: 100%;

      .image {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .03);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }


    .section_list {
      flex: 1;
      color: #1f2329;

      h3 {
        margin-top: 50px;
        font-size: 28px;
        line-height: 36px;
      }

      p {
        font-size: 16px;
        color: #646a73;
        line-height: 30px;
      }
    }
  }

}

// tutor section
.tutor_section {
  .title {
    margin-top: 50px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: #1f2329;
    width: 100%;

    h2 {
      height: 40px;
      width: 100%;
      text-align: center;

      span {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 32px;
        line-height: 40px;
        font-weight: bold;
      }

      span.title_bg {
        font-size: 40px;
        line-height: 60px;
        letter-spacing: 8px;
        opacity: 0.2;
      }
    }

    p {
      margin-top: 20px;
      font-size: 16px;
      line-height: 1.5;
      color: #646a73;
      text-align: center;
    }
  }

  .content {
    display: flex;
    padding: 200px 100px 0 100px;
    height: 90%;
    color: #1f2329;

    .tutor_card {
      position: relative;
      flex: 1;
      margin: 0 20px 0 20px;
      height: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 10px;
      transition: .3s;

      &:hover {
        box-shadow: 0 0 20px rgba(0, 0, 0, .1);

        .more_info_btn {
          border-color: lightblue;

          .arrow_down_svg_icon {
            fill: lightblue;
          }
        }

      }

      .tutor_avatar_block {
        height: 40%;
        margin-top: 40px;

        img {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          overflow: hidden;
          background: coral;
        }
      }

      .tutor_information_block {
        padding: 0 20px 0 20px;

        h4, h5 {
          text-align: center;
          font-size: 20px;
          line-height: 36px;
          font-weight: normal;
        }

        h5 {
          font-size: 16px;
        }

        p {
          font-size: 14px;
          color: #646a73;
          line-height: 1.5;
        }

      }

      .more_info_btn {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%) rotate(-90deg);
        width: 40px;
        height: 40px;
        background: white;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(0, 0, 0, .04);
        transition: .3s;
        border: 1px solid #dee0e3;

        .arrow_down_svg_icon {
          transition: .3s;
          width: 18px;
          height: 18px;
          fill: #dee0e3;
        }
      }
    }
  }
}




