// TODO px to rem
.navigation {
  width: 100%;
  min-width: 1400px;
  height: 64px;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0 64px 0 25px;
  z-index: 1000;
  transition: .3s;
  color: white;

  &.hidden {
    top: -110%;
  }

  &.white_style {
    background: white;

    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    color: #646a73;

    .left_logo {
      img {
        background-blend-mode: white;
      }
    }

    .right_block {
      button {
        &::after {
          background: #646a73;
        }

        &.concat_us_btn {
          border-left: 1px solid #646a73;
        }
      }
    }
  }

  & > div {
    display: inline-block;
    height: 100%;
  }

  .left_logo {
    width: 100px;
    float: left;
    color: white;
    display: flex;
    align-items: center;
    .logo {
      display: inline-block;
      width: 100%;
      img {
        height: 45px;
      }
    }
  }

  .right_block {
    float: right;
    width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;

    button {
      position: relative;
      flex: 1;

      &::after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background: white;
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
        transition: .3s;
        transform-origin: center center;
        opacity: 0;
      }

      &.active, &:hover:not(.concat_us_btn) {
        &::after {
          opacity: 1;
        }

      }

      &.concat_us_btn {
        margin-left: 10px;
        border-left: 1px solid #ffffff;
        padding-left: 20px;
      }
    }
  }
}