.title {
  //margin-top: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #1f2329;
  width: 100%;

  &.left_style {
    left: 0;

    h2 {
      text-align: left;

      span {
        left: 0;
      }
    }
  }

  &.right_style {
    left: unset;
    right: 0;

    h2 {
      text-align: right;

      span {
        left: unset;
        right: 0;
      }
    }
  }

  h2 {
    height: 40px;
    width: 100%;
    text-align: center;

    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      font-size: 32px;
      line-height: 40px;
      font-weight: bold;
    }

    span.subtitle {
      font-size: 40px;
      line-height: 60px;
      letter-spacing: 8px;
      opacity: 0.2;
    }
  }
}


.subtitle_with_number {
  position: relative;
  color: #1f2329;
  width: 100%;

  &::after {
    content: '';
    position: absolute;
    width: 60%;
    height: 1px;
    background: #dee0e3;
    bottom: -40px;
    left: 0;

  }

  &.center {
    text-align: center;

    span.subtitle {
      left: 50%;
      transform: translateX(-50%);
    }

    &::after {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  h3 {
    span.number {
      font-size: 70px;
      color: #646a73;
      opacity: .1;
    }

    span.subtitle {
      font-size: 24px;
      position: absolute;
      bottom: 0;
      left: 5px;
    }
  }
}